body{
  background: rgb(233, 240, 240);
}
.comment-section {
  background: #ffffff;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border-radius: 10px;
 
}

.comment {
  border-bottom: 5px solid rgb(233, 240, 240);
  padding: 15px 0;
  display: flex;
}
.likes {
  
  background-color: rgb(233, 240, 240);
  border-radius: 12px;
  margin: 10px 20px 10px 25px;
  height: 50%;
  padding: 3px 10px;
  color: #999;
  font-size: 0.9em;
  float: left;  
  display: grid;
  
}

.likes-button{
  background: none;
  border: none;
  cursor: pointer;
}
.likes-cont{
  
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.commet-avatar {
  
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1px;
  ;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 5px;
  padding-right: 10px;
}

.author {
  font-weight: bold;
}

.time {
  color: #999;
  margin-right: auto;
  padding-left: 10px;
}

.comment-actions {
  float: right;
  display: flex;
  gap: 10px;
  padding-right: 20px;
}

.comment-reply{
  padding-right: 10px;
}

.action-btn {
  background: none;
  border: none;
  color: #312faf;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.action-btn svg {
  margin-right: 5px;
}

.action-btn:hover {
  text-decoration: underline;
}
.comment-body {
  display: flex;
  float: right;
  flex-wrap: wrap;
  margin: 5px 5px;
  padding-right: 15px;
  
}



.comment-comment {
  background: #ffffff;
  width: 50%;
  margin: 10px auto 10px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  display:flex;
}
.comment-avatarIMG {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 30px;
  padding-right: 10px;
  float: left;  
  display: grid;
}


.send-comment{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  float: right;
}

.send-comment textarea {
  display: flex;
  margin: 10px;
  padding: 50px 150px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  float: right;
  
}

.send-btn {
  height: 50px;
  width: 100px;
  margin: 10px 5px 15px;
  background-color: #312faf;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  
}

.send-btn:hover {
  background-color: #312faf;
}

